.font-noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
}

.text-white {
  color: #ffffff;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.bg-red {
  background: #aa0601;
}
