.text-36 {
  font-size: 36px;
}
.text-20 {
  font-size: 20px;
}

.text-white {
  color: #ffffff;
}

.text-right {
  text-align: right;
}
.text-certer {
  text-align: center;
}

.bg-red {
  background: #aa0601;
}
