<footer class="bg-red">
  <div class="footer-container container">
    <div class="nav-media-container">
      <div class="hidden">
        <ul class="footer-nav-menu">
          <li><a href="./index.html">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="./stores.html">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="./faq.html">常見問題</a></li>
        </ul>
      </div>
      <div>
        <ul class="media-menu">
          <li class="media-item">
            <a href="#">
              <img src="/assets/images/week3-4/ic-social-fb.png" alt="fb" />
            </a>
          </li>
          <li class="media-item">
            <a href="#">
              <img
                src="/assets/images/week3-4/ic_social_ig.png"
                alt="instagram"
              />
            </a>
          </li>
          <li class="media-item">
            <a href="#">
              <img src="/assets/images/week3-4/ic_social_line.png" alt="line" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="contact-container">
      <ul class="contact-menu">
        <li class="contact-tel">
          <img
            src="/assets/images/week3-4/call_36dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg"
            alt=""
            class="contact-image"
          />
          <a href="tel:0800-000-000">0800-000-000</a>
        </li>
        <li>
          <img
            src="/assets/images/week3-4/mail_36dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg"
            alt=""
            class="contact-image"
          />
          <a href="mailto:glasses@business.com">glasses@business.com</a>
        </li>
      </ul>
    </div>
  </div>

  <hr class="hr container" />
  <div class="copyright container">
    <p>Copyright © 2020 Glasses.All rights reserved.</p>
    <div class="terms">
      <a href="#">隱私權政策</a>
      <a href="#">服務條款</a>
    </div>
  </div>
</footer>
