<nav class="bg-red">
  <div class="nav-container container">
    <img
      src="/assets/images/week3-4/logo-white.png"
      alt="logo"
      class="logo-image"
    />
    <div>
      <ul class="nav-menu">
        <li>
          <a href="#">系列鏡框</a>
        </li>
        <li>
          <a href="./stores.html">門市據點</a>
        </li>
        <li>
          <a href="#">部落格</a>
        </li>
        <li>
          <a href="./faq.html">常見問題</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
