.footer-container {
  display: flex;
  flex-direction: column;
  @include mobile {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 24px;
  }
}

.nav-media-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  margin-bottom: 24px;
  @include mobile {
    padding-top: 0;
    .hidden {
      display: none;
    }
  }
}

.footer-nav-menu {
  display: flex;
  gap: 48px;
  a {
    color: #ffffff;
  }
}

.media {
  &-menu {
    display: flex;
    gap: 32px;
    @include mobile-larger {
      gap: 16px;
    }
    @include mobile {
      gap: 8px;
    }
  }
  &-item {
    @include mobile-larger {
      width: 40px;
      height: auto;
    }
    @include mobile {
      width: 24px;
      height: auto;
    }
    img {
      width: 48px;
    }
  }
}

.contact {
  &-container {
    margin-bottom: 32px;
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &-menu {
    li {
      display: flex;
      gap: 22px;
      @include mobile {
        gap: 11px;
      }
      a {
        font-size: 36px;
        color: #ffffff;
        @include mobile {
          font-size: 16px;
        }
      }
    }

    &-tel {
      margin-bottom: 8px;
    }
  }

  &-image {
    @include mobile {
      width: 20px;
    }
  }
}

.hr {
  margin-bottom: 32px;
  @include mobile-larger {
    margin-left: 36px;
    margin-right: 36px;
  }
  @include mobile {
    margin-bottom: 20px;
    margin-left: 13px;
    margin-right: 14px;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
  }
  p {
    color: #ffffff;
  }
}

.terms {
  display: flex;
  gap: 48px;
  margin-bottom: 32px;
  @include mobile {
    flex-direction: column;
    justify-content: normal;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 24px;
  }
  a {
    color: #ffffff;
  }
}
